# You may also need to set "Allow GitHub Actions to create and approve pull requests" under repository Settings > Actions > General.

name: Release

on:
  push:
    branches:
      - master
  workflow_dispatch:

permissions:
  id-token: write
  contents: write
  issues: write
  pull-requests: write

jobs:
  release:
    runs-on: ubuntu-latest
    outputs:
      created: ${{ steps.release.outputs.release_created }}
    steps:
      - name: Release please
        uses: googleapis/release-please-action@v4
        id: release
        with:

          # this assumes that you have created a personal access token
          # (PAT) and configured it as a GitHub action secret named
          # `MY_RELEASE_PLEASE_TOKEN` (this secret name is not important).
          token: ${{ secrets.GITHUB_TOKEN }}

          # this is a built-in strategy in release-please, see "Action Inputs"
          # for more options
          release-type: node

          # create a release from a path other than the repository's root
          # path: pkg/cmd
          # The short ref name of the branch or tag that triggered
          # the workflow run. For example, `main` or `1.x`
          # target-branch: ${{ github.ref_name }}

          # If true, do not attempt to create releases.
          # This is useful if splitting release tagging from PR creation.
          # skip-github-release: true

  deploy:
    if: needs.release.outputs.created
    needs: release
    uses: ./.github/workflows/publish.yaml
    secrets: inherit
