name: Test Step Outputs

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  test-step-output:
    runs-on: ubuntu-latest

    steps:
      - name: Generate 0 or 1
        id: generate_number
        run: echo "random_number=$(($RANDOM % 2))" >> $GITHUB_OUTPUT
      - name: Print random_number
        run: echo ${{ steps.generate_number.outputs.random_number }}
      - name: Pass or fail
        run: |
          if [[ 1 == 0 ]]; then exit 0; else exit 1; fi
      - name: run or not run
        if: success()
        run: echo 'executed'
